# env
.env
.env.local
*.env.local
.env.production.local
.env.production
.env.development

# backend
backend/.env

# frontend
frontend/node_modules/
frontend/dist/
frontend/package-lock.json

# Android Apk
frontend/android/

# Capacitor config (contains server URL)
frontend/capacitor.config.json

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# system
.DS_Store
Thumbs.db

# log
*.log
npm-debug.log*

# temp
tmp/
temp/
